/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.files-view{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto !important;
    width: 100%;
    margin: 20px auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}
.files-view .mat-card{
    flex: 1 1 28.33%;
    margin: 10px !important;
    display: flex;
    flex-wrap: wrap;
}

.viewUrlwrapper{
    height: 160px;
    width: 100%;
    overflow: hidden;
}

.viewUrlwrapper img{
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    margin: 0;
}

.viewUrlcontent{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    flex: 1 1 100%;
}

.viewUrlcontent .mat-card-header {
    display: flex;
    flex-direction: row;
    flex: 1 1 100%;
    justify-content: center;
    text-align: center;
}

.viewUrlcontent .mat-card-header .mat-card-header-text {
    margin: 10px;
}

.viewUrlcontent .mat-card-header .mat-card-header-text .mat-card-title{    
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 19px;
    max-height: 40px;
    -webkit-line-clamp: 2;
}

