<mat-card class="topbannerblock investorstopwrapper">
  <app-header></app-header>
  <mat-card-content class="maincontainer bannertextwrapper">
    <h1>Universal  <strong>Tech</strong></h1>
    <span class="subtitle">Associates is a Global Consultancy structured to make a massive worldwide impact with their technology partnerships.</span>
    <p>
      <span class="subtitle2">This is a unique opportunity to get into the early stage development of Universal Tech Associates and become part of something incredible. </span>
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="block2 investorsblock2">
  <mat-card-content class="maincontainer">
    <mat-card-title class="toptitle1">This is a unique opportunity to get into the early stage development of Universal Tech Associates and become part of something incredible.
    <b>We currently have several opportunities for early stage investors to join us in the development of what is soon to be the largest consultancy for taking emerging technologies onto the world stage.</b>
    </mat-card-title>

    <mat-list class="block2listwrapper">
      <mat-list-item class="listitemblue">
        <mat-card-content>
          <span class="listtextwrapper">We are partnered with Wirthin Worldwide bringing some of the most powerful relationships worldwide to our opportunities.
          <a  [routerLink]="['/aboutus']">Learn more about Wirthlin here <b><i class="material-icons">keyboard_arrow_right</i> <i class="material-icons">keyboard_arrow_right</i></b></a>
          </span>
        </mat-card-content>
      </mat-list-item>
      <mat-list-item class="listitemgray">
        <mat-card-content>
          <span class="listtextwrapper">Every one of our represented technology and marketing companies come with engagement agreements that include equity and revenue share in the opportunities we offer.</span>
        </mat-card-content>
      </mat-list-item>
      <mat-list-item class="listitemgray">
        <mat-card-content>
          <span class="listtextwrapper">We structure licensing agreements with all represented parties that include high returns to Universal Tech Associates as part of our involvement in their success.</span>
        </mat-card-content>
      </mat-list-item>
      <mat-list-item class="listitemblue">
        <mat-card-content>
          <span class="listtextwrapper">We are already moving on several fronts with proposals and contracting already coming together with some of the largest corporations and governments.  See what we are currently involved in here.
          <a [routerLink]="['/portfolio']">See what we are currently involved in here <b><i class="material-icons">keyboard_arrow_right</i> <i class="material-icons">keyboard_arrow_right</i></b></a>
          </span>
        </mat-card-content>
      </mat-list-item>
      <span class="deborder"></span>
    </mat-list>
  </mat-card-content>
</mat-card>



<mat-card class="investorsblock3">
  <mat-card-content class="maincontainer">
      <span class="textwrapper">
        <strong>We are currently offering share agreements for a limited number of early investors ranging from 50k to 500k.  </strong>
        We are raising a total of 2 million dollars and we will close this opportunity the minute we have filled this quota.  If you want to own a part of the emerging global technology space, there is no better place to do that than with us.
      </span>
    <mat-card-actions>
      <button class="greenbtn">Please click here to download our investor deck.</button>
      <a [routerLink]="['/contactus']" class="greenbtn">To see if this investment is going to make sense for you please contact us right away.</a>
    </mat-card-actions>
  </mat-card-content>
</mat-card>

<app-footer></app-footer>


