
<!-- category listing  -->
<lib-list-category
[listingViaResolve]="imageGalleryList"
[serverUrl]="serverUrl"
[Token]="token"
[updatedEndpoint]="updatedEndpoint"
[TableName]="SourceName"
[DeleteEndpoint]="DeleteEndpoint"
[editRoute]="EditRoute"
[AddButtonRoute]="addButtonRoute"
[ManageImageButtonRoute]="manageImageButtonRoute"
[SearchEndpoint]="searchEndpoint"
[SearchSourceName]="searchSourcename"

[AddImageButtonRoute]="AddImageButtonRoute"
[TableNameForImage]="TableNameForImage"
[DataListForImage]="DataListForImage"
[TokenForImage]="TokenForImage"
>
</lib-list-category>

<!-- image listing  -->


