
<!-- category listing  -->
<lib-list-category
[listingViaResolve]="imageGalleryList"
[serverUrl]="serverUrl"
[Token]="token"
[updatedEndpoint]="updatedEndpoint"
[TableName]="SourceName"
[DeleteEndpoint]="DeleteEndpoint"
[editRoute]="EditRoute"
[AddButtonRoute]="addButtonRoute"
[SearchEndpoint]="searchEndpoint"
[SearchSourceName]="searchSourcename"
[CountEndpoint]="CountEndpoint"
[catupdatedeleteendpoint]="catupdatedeleteendpoint"


[ManageImageButtonRoute]="manageImageButtonRoute"
[AddImageButtonRoute]="AddImageButtonRoute"
[TableNameForImage]="TableNameForImage"
[DataListForImage]="DataListForImage"
[TokenForImage]="TokenForImage"
[imageServerUrlData]="imageServerUrlData"
[imageDeleteendpoint]="imageDeleteendpoint"
[imageEditRoute]="imageEditRoute"
[imageAddupdateRouteUrl]="imageAddupdateRouteUrl"
[imageServerUrlData]="imageServerUrlData"
[imageSearchEndpoint]="imageSearchEndpoint"
[imageSearchSourceval]="imageSearchSourceval"
[CountimageEndpoint]="CountimageEndpoint"
[imageupdatedeleteendpoint]="imageupdatedeleteendpoint" 
[UserId]="UserId">
</lib-list-category>

<!-- image listing  -->


