<mat-card class="topbannerblock s-about_us">
  <app-header></app-header>
  <mat-card-content class="maincontainer bannertextwrapper">
    <h1>Universal <strong>Tech</strong></h1>
    <h2 class="break_header"><span>Associates </span><span class="smaller_text">is a Wirthlin WorldWide <br> Directive</span></h2>
    <p><span class="subtitle1">Universal Tech Associates is the US based entity chosen to work directly with Wirthin Worldwide to introduce potential emerging technologies and marketing platforms to the global marketplace.
 </span>
    </p>
  </mat-card-content>
</mat-card>


<mat-card class="s_ab_blok1">
  <mat-card-content class="s_ab_inner_wrapper">
    <mat-card-title class="ab_s_title">Information about WirthlinWorldwide</mat-card-title>
    <mat-card-subtitle class="ab_s_subtitle">Worldwide International, LLC (“Wirthlin”) has a global initiative
      with Dentons, the largest law firm in the world (<a class="linked_color" href="https://www.dentons.com/en" target="_blank">www.dentons.com</a>),
      Dentons brings a strong global reach and depth of over 7,500 lawyers and professionals in 180 locations in
      57 countries. We provide strategic consulting services – international venturing, global counseling and
      crisis management (“Project(s)”). We primarily assist our clients, often as partners in some form, to launch
      globally, expand around the world (including protecting and broadening existing market share); and,
      importantly,
      secure global, strategic partners and investors.
    </mat-card-subtitle>
    <mat-card-content class="s_ab_inner_bottom">
      <span class="a-s_image_wrapper">
        <img src="../../assets/images/blok1_inner_boom_left_img.jpg">
      </span>
      <span class="a-b-content_wrapper">
        <p class="top_para">The operating history of WirthlinWorldwide in Asia spans a period of <span
                class="linked_color"> 1981-to-present inclusive of over 12 major projects with Global Fortune 500 branded</span> partners and
government entities.
</p>
                <p class="bottom-para">
                    The direct network of <a href="javascript:void(0)" class="linked_color"> WirthlinWorldwide </a> in Japan includes two former prime ministers, seven ministers, over twelve former agency directors and approximately twenty former CEO’s of multi-billion dollar corporate entity. This does not include the network connection of each member of the WirthlinWorldwide network structure.

                </p>
      </span>
    </mat-card-content>
  </mat-card-content>

</mat-card>


<mat-card class="s-aboutus-block2">
  <mat-card-content class="s-ab-inner-container">
    <mat-card-title class="s-blok2-title">Current landscape of initiatives that
      WirthlinWorldwide  is Engaging in partnership
      with Universal Tech Associates on a Global scale.
    </mat-card-title>
    <mat-card-subtitle class="s-blok2-subtitle"> Although the number of relationships and opportunities represented through our combined model is way too vast to depict here,<br> the following are the companies and entities that are in current contracting and discussions for integrations with<br>
      Universal Tech Associates and <a class="linked_color"> WirthlinWorldwide  </a>technologies.
    </mat-card-subtitle>



    <!--<mat-card-content class="main-content-left">-->
    <!--<mat-card-content class="inner_bg">-->
    <!--<span class="inner_content">-->
    <!--<mat-card-title class="header-title">-->
    <!--<span class="head">adk</span>-->
    <!--<span class="img_border">-->

    <!--</span>-->
    <!--</mat-card-title>-->
    <!--<mat-card-subtitle class="header-subtitle"> www.adk.jp</mat-card-subtitle>-->
    <!--<p class="paragraph"><strong>ADK is the</strong> third largest agency in Japan and recently purchased of the public market by Bain Capital.  ADK is working to quickly increase their revenue through the investment into marketing and technology companies worldwide.-->
    <!--</p>-->
    <!--</span>-->
    <!--</mat-card-content>-->
    <!--</mat-card-content>-->
    <!--<mat-card-content class="main-content-left main-content-right  ">-->
    <!--<mat-card-content class="inner_bg r1">-->
    <!--<span class="inner_content">-->
    <!--<mat-card-title class="header-title">-->
    <!--<span class="head">Hakuhodo Kettle</span>-->
    <!--<span class="img_border">-->
    <!--</span>-->
    <!--</mat-card-title>-->
    <!--<mat-card-subtitle class="header-subtitle">www.kettle.co.jp</mat-card-subtitle>-->
    <!--<p class="paragraph"><strong>Hakuhodo</strong>  is expending hundreds of millions of dollars to acquire US market and location services-based technologies.-->

    <!--</p>-->
    <!--</span>-->
    <!--</mat-card-content>-->
    <!--</mat-card-content>-->

    <mat-card-content class="dm_content">
      <mat-card-content class="imgge_container">
        <img src="../../assets/images/adkBanner.jpg">
      </mat-card-content>
      <mat-card-content class="text_container">
        <mat-card-title class="header-title">
          <span class="head">Adk</span>
          <span class="img_border">
                </span>
        </mat-card-title>
        <mat-card-subtitle class="header-subtitle"><a href="https://www.adk.jp/" target="_blank"> www.kettle.co.jp</a></mat-card-subtitle>
        <p class="paragraph"><strong>ADK is the </strong> third largest agency in Japan and recently purchased of the public market by Bain Capital.  ADK is working to quickly increase their revenue through the investment into marketing and technology companies worldwide.


        </p>
      </mat-card-content>
    </mat-card-content>

    <mat-card-content class="dm_content">

      <mat-card-content class="text_container">
        <mat-card-title class="header-title">
          <span class="head">Hakuhodo Kettle</span>
          <span class="img_border">
                </span>
        </mat-card-title>
        <mat-card-subtitle class="header-subtitle"><a href="https://www.kettle.co.jp/" target="_blank">www.kettle.co.jp</a></mat-card-subtitle>
        <p class="paragraph"><strong>Hakuhodo</strong>  is expending hundreds of millions of dollars to acquire US market and location services-based technologies.

        </p>
      </mat-card-content>
      <mat-card-content>
        <img src="../../assets/images/HakuhodoBanner.jpg">
      </mat-card-content>
    </mat-card-content>
    <mat-card-content class="dm_content">
      <mat-card-content>
        <img src="../../assets/images/dentsuBanner.jpg">
      </mat-card-content>
      <mat-card-content class="text_container">
        <mat-card-title class="header-title">
          <span class="head">Dentsu</span>
          <span class="img_border">
                </span>
        </mat-card-title>
        <mat-card-subtitle class="header-subtitle"><a href="http://www.dentsu.com/" target="_blank">www.dentsu.com</a></mat-card-subtitle>
        <p class="paragraph"><strong>Dentsu</strong> in one of the three largest advertising groups in the world depending on the means of measurement it is also considered to be number one. Dentsu is working through Wirthlin and Universal Tech Associates to realize their needs to be recognized as a “technology leader” in the Global Marketplace. WirthlinWorldwide has provided private label consulting services to Dentsu since 1990 through its then existing Japan office.

        </p>
      </mat-card-content>

    </mat-card-content>
    <mat-card-content class="dm_content">

      <mat-card-content class="text_container">
        <mat-card-title class="header-title">
          <span class="head">Government of Japan</span>
          <span class="img_border">
                </span>
        </mat-card-title>
        <mat-card-subtitle class="header-subtitle"><a href="https://www.meti.go.jp/english/" target="_blank"> www.meti.go.jp/english </a></mat-card-subtitle>
        <p class="paragraph"><strong>The Ministry</strong> of Economy, Trade and Industry is charged with enhancing economic output in Japan domestically and internationally. METI owns and controls the largest economic data base in Japan (and likely the world) but is not pleased with internal attempts to convert data into sound financial outcomes. METI is considering currently offered proposals and accepting other opportunities through Wirthlin and Universal Tech Associates.

        </p>
      </mat-card-content>
      <mat-card-content>
        <img src="../../assets/images/metiBanner.jpg">
      </mat-card-content>
    </mat-card-content>
    <mat-card-content class="dm_content">
      <mat-card-content>
        <img src="../../assets/images/pasonaBanner.jpg">
      </mat-card-content>
      <mat-card-content class="text_container">
        <mat-card-title class="header-title">
          <span class="head">Pasona Inc</span>
          <span class="img_border">
                </span>
        </mat-card-title>
        <mat-card-subtitle class="header-subtitle"><a href="https://www.pasonagroup.co.jp/english/" target="_blank"> www.pasonagroup.co.jp/english/</a></mat-card-subtitle>
        <p class="paragraph"><strong>Is a Japanese</strong> multinational corporation that provides a variety of staffing services, including temporary staffing, recruiting, outplacement, and outsourcing. The company is headquartered in the Ōtemachi district of Tokyo and is the second largest staffing company in Japan. rather than a second or third tier human resources provider. Wirthlin has introduced several technologies that are currently working through the early integration stages.
        </p>
      </mat-card-content>

    </mat-card-content>
    <mat-card-content class="dm_content">

      <mat-card-content class="text_container">
        <mat-card-title class="header-title">
          <span class="head">Lions Gate India</span>
          <span class="img_border">
                </span>
        </mat-card-title>
        <mat-card-subtitle class="header-subtitle"><a href="https://www.lionsgate.com/" target="_blank">www.lionsgate.com</a>/</mat-card-subtitle>
        <p class="paragraph"><strong>Major media</strong> company in India working with film, tv as well as music.  As a sister company of Lions Gate US the currently funding and investment decisions of Lions Gate India is fully managed by Wirthlin Dentons. They are looking for technologies that can help with their county based objectives as well as worldwide reach.
        </p>
      </mat-card-content>
      <mat-card-content>
        <img src="../../assets/images/lionsgateBanner.jpg">
      </mat-card-content>
    </mat-card-content>
    <mat-card-content class="dm_content">
      <mat-card-content>
        <img src="../../assets/images/itochuBanner.jpg">
      </mat-card-content>
      <mat-card-content class="text_container">
        <mat-card-title class="header-title">
          <span class="head">Itochu Corporation</span>
          <span class="img_border">
                </span>
        </mat-card-title>
        <mat-card-subtitle class="header-subtitle"><a href="https://www.itochu.co.jp/en/" target="_blank">www.itochu.co.jp/en/</a></mat-card-subtitle>
        <p class="paragraph"><strong>With approximately</strong> 110 bases in 63 countries, ITOCHU, one of the leading sogo shosha, is engaging in domestic trading, import/export, and overseas trading of various products such as textile, machinery, metals, minerals, energy, chemicals, food, general products, realty, information and communications technology, and finance, as well as business investment in Japan and overseas. Itochu is interested in promising technology investments and synergies sourced in the United States as well as internationally.
        </p>
      </mat-card-content>

    </mat-card-content>
    <!--<mat-card-content class="dm_content">

      <mat-card-content class="text_container">
        <mat-card-title class="header-title">
          <span class="head">A-Grade Investments</span>
          <span class="img_border">
                </span>
        </mat-card-title>
        <mat-card-subtitle class="header-subtitle"><a href="http://www.agradeinvestments.com/" target="_blank"> www.agradeinvestments.com/</a></mat-card-subtitle>
        <p class="paragraph"><strong>Is a venture capital</strong> firm founded in 2010 by actor Ashton Kutcher, entertainment manager Guy Oseary, and billionaire investor Ron Burkle to invest in technology start-up companies. The company is headquartered in Los Angeles, California. Their goals are to build a world-class portfolio of early-stage investments in tech start-ups with potential for extraordinary growth, primarily focused on social media, mobile, ecommerce, and other consumer- facing social technologies.  Wirthlin is working with them to introduce potential technologies for their managed fund moving into the Asian marketplace.

        </p>
      </mat-card-content>
      <mat-card-content>
        <img src="../../assets/images/agrBanner.jpg">
      </mat-card-content>
    </mat-card-content>
    <mat-card-content class="dm_content">
      <mat-card-content>
        <img src="../../assets/images/hondaBanner.jpg">
      </mat-card-content>
      <mat-card-content class="text_container">
        <mat-card-title class="header-title">
          <span class="head">Honda</span>
          <span class="img_border">
                </span>
        </mat-card-title>
        <mat-card-subtitle class="header-subtitle"><a href="https://global.honda/" target="_blank">https://global.honda/</a></mat-card-subtitle>
        <p class="paragraph"><strong>Honda Motor Company, Ltd.</strong> is a Japanese public multinational conglomerate corporation primarily known as a manufacturer of automobiles, motorcycles, and power equipment. Honda was the eighth largest automobile manufacturer in the world in 2015.   Wirthlin has structured several technologies brought in to help manage their securities and communications worldwide.


        </p>
      </mat-card-content>

    </mat-card-content>-->
    <mat-card-content class="dm_content">

      <mat-card-content class="text_container">
        <mat-card-title class="header-title">
          <span class="head">Pony Canyon</span>
          <span class="img_border">
                </span>
        </mat-card-title>
        <mat-card-subtitle class="header-subtitle"> <a href="https://www.ponycanyon.co.jp/" target="_blank">https://www.ponycanyon.co.jp/</a></mat-card-subtitle>
        <p class="paragraph"><strong>A multi-million</strong> dollar media company Is deeply involved in music, liberal arts, literary arts, sports, movies, entertainment, various audio and visual software (CD, DVD, etc.), game software, and books, planning, production, sales, movie distribution, planning of concerts and events. Their main shareholder Fuji Media Holdings Inc. They are working with Wirthlin for the introduction of new technologies that further develop their global footprint.
        </p>
      </mat-card-content>
      <mat-card-content>
        <img src="../../assets/images/topicBanner.jpg">
      </mat-card-content>
    </mat-card-content>
    <mat-card-content class="dm_content">
      <mat-card-content>
        <img src="../../assets/images/amuseBanner.jpg">
      </mat-card-content>
      <mat-card-content class="text_container">
        <mat-card-title class="header-title">
          <span class="head">Amuse Inc</span>
          <span class="img_border">
                </span>
        </mat-card-title>
        <mat-card-subtitle class="header-subtitle"> <a href="https://ir.amuse.co.jp/english/" target="_blank">https://ir.amuse.co.jp/english/</a></mat-card-subtitle>
        <p class="paragraph"><strong>Amuse</strong> is the leader in the Promotion and management of celebrities, musicians, film directors, scriptwriters, athletes and intellectuals. They manage Production, contracting and performance of music, film, theater and theatrical entertainment and lecture, and management and contracting of these facilities. Amuse is currently investigating technologies that increase their online reach and influence.


        </p>
      </mat-card-content>

    </mat-card-content>
    <mat-card-content class="dm_content">

      <mat-card-content class="text_container">
        <mat-card-title class="header-title">
          <span class="head">LDH JAPAN Inc</span>
          <span class="img_border">
                </span>
        </mat-card-title>
        <mat-card-subtitle class="header-subtitle">  <a href="https://www.ldh.co.jp/eng/company/" target="_blank"> https://www.ldh.co.jp/eng/company/</a></mat-card-subtitle>
        <p class="paragraph"><strong>Is a Japanese</strong> management and entertainment company founded by the six original members of Japanese boy group Exile in 2003. The president is Hiroyuki Igarashi, the leader of the Exile The company is a multimillion-dollar entity operating several boy bands and girl groups and a dance school named "EXPG". They are looking to Wirthlin to increase their technology and online music communities through strategic technology partnerships.


        </p>
      </mat-card-content>
      <mat-card-content>
        <img src="../../assets/images/ldhBanner.jpg">
      </mat-card-content>
    </mat-card-content>
  </mat-card-content>
</mat-card>



<mat-card class="s_ab_blok3">
  <mat-card-content class="s_ab_b3_inner_wrapper">
    <h2 class="s_ab_blok3_heading">Interested in having Universal Tech Associates<br> and WirthlinWorldwide<br>
      represent you on the global stage?
    </h2>
    <p class="s_ab_blok3_para">Do you have technologies and marketing platforms that would benefit <br>from performance on the world stage?
    </p>
    <a mat-flat-button [routerLink]="['/representation']" class="action_buttton">Click here to learn more about our available programs.</a>
  </mat-card-content>
</mat-card>
<app-footer></app-footer>