<lib-Video
[listingViaResolve]="videoCatList"
[serverUrl]="serverUrl"
[Token]="token"
[updatedEndpoint]="updatedEndpoint"
[TableName]="SourceName"
[DeleteEndpoint]="deleteEndpoint"
[editRoute]="EditRoute"
[AddButtonRoute]="addButtonRoute"
[VideoManagementRoute]= "videoManagementRoute"
[SearchEndpoint]="searchEndpoint"
[searchSourceval]="searchSourceval"
[CountEndpoint]="CountEndpoint"
[dataSourcename]="dataSourcename"
[catupdatedeleteendpoint]="catupdatedeleteendpoint"




[AddVideoButtonRoute]="AddVideoButtonRoute"
[SearchEndpointForVideo]="SearchEndpointForVideo"
[SearchSourceNameForVideo]="SearchSourceNameForVideo"
[listingForVideo]="listingForVideo"
[editRouteForVideo]="editRouteForVideo"
[serverUrlForVideo]="serverUrlForVideo"
[TokenForVideo]="TokenForVideo"
[updatedEndpointForVideo]="updatedEndpointForVideo"
[TableNameForVideo]="TableNameForVideo"
[DeleteEndpointForVideo]="DeleteEndpointForVideo"
[CountvideoEndpoint]="CountvideoEndpoint"
[videodataSourcename]="videodataSourcename"
[videoupdatedeleteendpoint]="videoupdatedeleteendpoint"
[UserId]="UserId"
></lib-Video>
