<lib-list-team
[TeamData]="allTeamData"
[serverUrl]="serverUrl"
[EditRoute]="editpageRoute"
[addButtonRoute]="addPageRoute"
[UpdateRoute]="updateendpoint"
[DeleteEndpoint]="deleteEndpoint"
[Token]="jwtToken"
[SourceName]="sourceName"
[SearchSourceName]="searchSourceName"
[SearchEndpoint]="searchendpoint"



[ManageButtonRoute]="manageButtonRoute"
[TeamAllData]="TeamAllData"
[EditTeamRoute]="EditTeamRoute"
[UpdateTeamRoute]="UpdateTeamRoute"
[TokenTeam]="TokenTeam"
[SourceNameTeam]="SourceNameTeam"
[SearchSourceNameTeam]="SearchSourceNameTeam"
[SearchEndpointTeam]="SearchEndpointTeam"
[DeleteEndpointTeam]="DeleteEndpointTeam"
[serverUrlTeam]="serverUrlTeam"


>
</lib-list-team>
