
mat-card.example-card.mat-card {
    width: 30%;
    height: auto;
    background-color: #fff;
    /* border-color: #c9c940; */
    border: 1px solid #c9dae9;
}
mat-card-content.example-content.mat-card-content {
    margin-left: 16px;
}