<mat-card class="topbannerblock portfoliobannerwrapper">
  <app-header></app-header>
  <mat-card-content class="maincontainer bannertextwrapper">
    <h1>Below is our Portfolio</h1>
    <p><span class="subtitle2">Of current projects and companies that are working directly with Universal Tech Associates in various stages of development.</span>
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="portfolioblock2">
  <mat-card-content class="maincontainer">
    <mat-card-title class="toptitle1">ArtistXP – The Artist Experience</mat-card-title>
    <mat-list class="portfolioblocklistwrapper">
      <mat-list-item class="listitemblock listitemblock1">
          <span class="portimgwrapper">
             <img src="../../assets/images/portblockimage1.jpg">
          </span>
      </mat-list-item>

      <mat-list-item class="listitemblock listitemblock2">
        <mat-card-content>
          <span class="listtextwrapper">
            <strong>THE ARTIST EXPERIENCE SOCIAL NETWORK IS THE NEW WAY FOR ARTISTS AND FANS TO CONNECT!</strong>
            Universal Tech Associates is currently working with ArtistXP to take their application into the Asian and Indian marketplace.
            <b>Directives:</b>
            <strong>Introductions and proposals for partnerships with Amuse, Pony Canyon, LDT, Lionsgate India and A-Grade Investments.  In current discussions and dialogues with all companies.</strong>
          </span>
          <mat-card-actions>
            <a [routerLink]="['/aboutus']" class="greenbtn">To review potential partner profiles, click here.</a>
            <a href="http://www.artistxp.com/" target="_blank" class="greenbtn">To see company information, click here</a>
            <a class="greenbtn">Click to see Technology Media Profile.</a>
          </mat-card-actions>
        </mat-card-content>
      </mat-list-item>

    </mat-list>
  </mat-card-content>
</mat-card>

<mat-card class="portfolioblock3">
  <mat-card-content class="maincontainer">
    <mat-card-title class="toptitle2">The Beto Paredes Family of Companies</mat-card-title>
    <mat-list class="portfolioblocklistwrapper portfolioblocklistwrapper2">
      <mat-list-item class="listitemblock listitemblock2">
          <span class="portimgwrapper">
             <img src="../../assets/images/portblockimage2.jpg">
          </span>
      </mat-list-item>
      <mat-list-item class="listitemblock listitemblock2">
        <mat-card-content>
          <span class="listtextwrapper">
          The Beto Paredes Family of Companies have been together as a technology development group for over 15 years. They represent a consortium of technologies available to ad agencies, medium and small businesses.
            <b>Directives:</b>
            <strong>Contracts in completion with Blue Coast Savings, the largest franchise business consultancy in the U.S.A. Currently working discovery into European and Australian markets for sales force development worldwide.</strong>
          </span>
          <mat-card-actions>
            <a  href="https://www.influxiq.com/index" target="_blank" class="greenbtn">To see company information, click here</a>
          </mat-card-actions>
        </mat-card-content>
      </mat-list-item>

    </mat-list>
  </mat-card-content>
</mat-card>

<mat-card class="portfolioblock4">
  <mat-card-content class="maincontainer">
    <mat-card-title class="toptitle1">GEOFenceDSP</mat-card-title>
    <mat-list class="portfolioblocklistwrapper">
      <mat-list-item class="listitemblock listitemblock1">
          <span class="portimgwrapper">
             <img src="../../assets/images/portblockimage3.jpg">
          </span>
      </mat-list-item>

      <mat-list-item class="listitemblock listitemblock2">
        <mat-card-content>
          <span class="listtextwrapper">
            <strong>GEOFenceDSP.com is a GEO </strong>
            Fencing platform technology specializing in the use of Big Data to Micro-target customers down to the very fence line of the business or residential location. The GEO business model is based on selling to advertising agencies and large-scale advertisers worldwide.
            <b>Directives:</b>
            <strong>Universal Tech Associates have developed a relationship for GEO with ECS Image, one of the largest and most successful advertising agencies in the united states. ECS’s customer base includes Holland America, Sam’s Club, Carnival Cruise and several others across the country.  Wirthlin is currently negotiating deals for GEOFenceDSP with Hakuhodo Kettle, Dentsu, and ADK.</strong>
          </span>
          <mat-card-actions>
            <button class="greenbtn"  [routerLink]="['/aboutus']">To review potential Wirthlin partner profiles, click here</button>
            <button class="greenbtn">Click to see Technology Media Profile.</button>
          </mat-card-actions>
        </mat-card-content>
      </mat-list-item>

    </mat-list>
  </mat-card-content>
</mat-card>

<mat-card class="portfolioblock5">
  <mat-card-content class="maincontainer">
    <mat-card-title class="toptitle2">ConTxt <span></span></mat-card-title>
    <mat-list class="portfolioblocklistwrapper">
      <mat-list-item class="listitemblock listitemblock1">

      </mat-list-item>

      <mat-list-item class="listitemblock listitemblock2">
        <mat-card-content>
          <span class="listtextwrapper">
            <strong>ConTxt is a powerful communication suite of tools developed with over 160 instances of technology including PBX, </strong>
           presentation tools, email communications and much more. ConTxt is currently working in both the USA and Japan set up with the assistance of Wirthlin.
            <b>Directives:</b>
            Through Wirthlin introductions, contracts and proposals have bene presented and are in the closing cycle for ConTxt and the government of Japan (METI), the Japanese ministry of defense as well as Honda. Introductions and proposals are also being presented to Hakuhodo Kettle, Dentsu, and ADK.
          </span>
          <mat-card-actions>
            <a  [routerLink]="['/aboutus']"class="greenbtn">To review potential Wirthlin partner profiles, click here.</a>
          </mat-card-actions>
        </mat-card-content>
      </mat-list-item>

    </mat-list>
  </mat-card-content>
</mat-card>


<mat-card class="portfolioblock6">
  <mat-card-content class="maincontainer">
    <mat-card-title class="toptitle1">InfluxIQ Marketing Agency</mat-card-title>
    <mat-list class="portfolioblocklistwrapper portfolioblocklistwrappernew1">
      <mat-list-item class="listitemblock listitemblock1">
          <span class="portimgwrapper">
             <img src="../../assets/images/portblockimage4.jpg">
          </span>
      </mat-list-item>
      <mat-list-item class="listitemblock listitemblock2">
        <mat-card-content>
          <span class="listtextwrapper">
            <strong>InfluxIQ.com</strong>
            is a technology and marketing firm specializing in small to medium size businesses in the United States. They offer marketing services in Facebook ads, google ad words and the development of marketing website technologies.
            <b>Directives:</b>
            <strong class="strongwrapper">Contracts in completion with Blue Coast Savings, the largest franchise business consultancy in the U.S.A. Currently working discovery into European and Australian markets for sales force development worldwide.  </strong>
            <a class="greenbtn" href="www.InfluxIQ.com" target="_blank">To see company information, click here.</a>
          </span>

        </mat-card-content>
      </mat-list-item>
    </mat-list>
<span class="devbrack"></span>
    <mat-card-title class="toptitle1">FluentBUZZ Social Influencer Network</mat-card-title>
    <mat-list class="portfolioblocklistwrapper portfolioblocklistwrappernew2">
      <mat-list-item class="listitemblock listitemblock1">
          <span class="portimgwrapper">
             <img src="../../assets/images/portblockimage5.jpg">
          </span>
      </mat-list-item>
      <mat-list-item class="listitemblock listitemblock2">
        <mat-card-content>
          <span class="listtextwrapper">
            <strong>FluentBUZZ</strong>
             is a new social influencer network with a residual income model. Influencers make a percentage of any purchase made by customers brought to the site. And this doesn’t just happen once. This happens for the life of the customer. For as long as your customers continue their relationships with our brands, you will make money off every single purchase they make.
            <b>Directives:</b>
            <strong>Currently Wirthlin is investigating opportunities for FluentBUZZ to work directly with several potential multi-national corporations to put together an advocacy program crisis management. </strong>
             <mat-card-actions>
            <a  href="http://fluentbuzz.com" target="_blank" class="greenbtn">To see company information, click here</a>
          </mat-card-actions>
          </span>
        </mat-card-content>
      </mat-list-item>
    </mat-list>

  </mat-card-content>
</mat-card>

<mat-card class="portfolioblock7">
  <mat-card-content class="maincontainer">
      <span class="textwrapper">
        <strong>Interested in having Universal Tech Associates and WirthlinWorldwide
represent you on the global stage? </strong>
        Do you have technologies and marketing platforms that would .benefit from
performance on the world stage?
      </span>
    <mat-card-actions>
      <button class="greenbtn" [routerLink]="['/representation']">Click here to learn more about our available programs.</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>


<app-footer></app-footer>