

/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.mat-toolbar-row{
    height: auto!important;   align-items: baseline!important;
}

.mat-form-field {
    display: block!important;  }

    .mat-card{ background:white!important;}
    .mat-dialog-content{padding: 10px !important; border-radius: 0; overflow: none !important;}
    .mat-dialog-content .mat-dialog-title{
        background-color: #4f4f4f;
        border: 0px;
        padding: .35em;
        color: #ffffff;
    }
    .mat-dialog-content .mat-card {
        transition: none !important;
        display: flex !important; 
        position: relative;
        padding: 5px;
        border-radius: 0px;
        align-items: center;
    }
    .mat-dialog-content .mat-card .mat-card-header{white-space: normal; word-break: break-word;}
    .mat-dialog-content .mat-card .mat-card-content{white-space: normal; word-break: break-word;}
    .mat-dialog-content .mat-card-header .mat-card-title {
        margin-bottom: 0;
        font-size: 16px;
    }
    .mat-dialog-content .mat-dialog-actions {
        margin-bottom: 0px;
        justify-content: center;
    }
    .mat-dialog-content .mat-dialog-actions button{
        display: inline-block;
        height: auto;
        background: #cc3333;
        font-size: 18px;
        color: #fff!important;
        text-transform: uppercase;
        font-family: 'Ralewaybold';
        text-decoration: none!important;
        line-height: normal;
        text-align: center;
        margin: 0 auto;
        white-space: normal;
        margin-top: 10px;;
        padding: 12px 10px;
        border-radius: 0px !important;
    }
    .cdk-global-overlay-wrapper {
        align-items: center !important;
    }
    .cdk-global-overlay-wrapper .mat-bottom-sheet-container bottom-sheet .mat-nav-list{display:flex; padding-top:0 !important;}
    .mat-bottom-sheet-container bottom-sheet .mat-nav-list .mat-list-item {
        display: inline-block;
        height: auto;
        background: #cc3333;
        font-size: 18px;
        color: #fff!important;
        text-transform: uppercase;
        font-family: 'Ralewaybold';
        text-decoration: none!important;
        line-height: normal;
        text-align: center;
        margin: 5px;
        white-space: normal;
        padding: 12px 10px;
        border-radius: 0px !important;
    }
    .mat-bottom-sheet-container bottom-sheet .mat-nav-list{text-align: center;}
    .mat-dialog-container .mat-dialog-actions button {
        display: inline-block;
        height: auto;
        background: #cc3333;
        font-size: 18px;
        color: #fff!important;
        text-transform: uppercase;
        font-family: 'Ralewaybold';
        text-decoration: none!important;
        line-height: normal;
        text-align: center;
        margin: 0 auto;
        white-space: normal;
        margin-top: 10px;
        padding: 12px 10px;
        border-radius: 0px !important;
    }
    .mat-dialog-container .mat-card-header .mat-card-title{
        margin-bottom: 0;
        font-size: 16px;
        font-weight: 600;
    }
    /* .mat-dialog-content {
        padding: 0 24px !important;
        box-shadow: none !important;
    }

    confirmdialog .mat-dialog-content .mat-card{
        flex-wrap:wrap;
    }
    
    confirmdialog .mat-dialog-content .mat-card #dialogdatavd_array,
    confirmdialog .mat-dialog-content .mat-card #dialogdataimg_array,
    confirmdialog .mat-dialog-content .mat-card #dialogdataTags{
        flex:1 1 100%;
    }
    
    confirmdialog .mat-dialog-content .mat-card #dialogdatavd_array p br, 
    confirmdialog .mat-dialog-content .mat-card #dialogdataimg_array p br,
    confirmdialog .mat-dialog-content .mat-card #dialogdataTags div br{display: none;}

    confirmdialog .mat-dialog-content > div{
        position: relative;
        overflow: auto;
       
    }

    confirmdialog .mat-dialog-content .mat-card #dialogdatavd_array p, 
    confirmdialog .mat-dialog-content .mat-card #dialogdataimg_array p
    {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow-y: scroll;
        display: flex;
        flex-wrap: wrap;
    }
    
    confirmdialog .mat-dialog-content .mat-card #dialogdatavd_array p iframe, 
    confirmdialog .mat-dialog-content .mat-card #dialogdataimg_array p img,
    confirmdialog .mat-dialog-content .mat-card #dialogdataTags p img{        
      width: 100%;
      margin-bottom:10px;
      height: auto;
    }
    confirmdialog .mat-dialog-content .mat-card #dialogdatavd_array p iframe:last-child, 
    confirmdialog .mat-dialog-content .mat-card #dialogdataimg_array p img:last-child,
    confirmdialog .mat-dialog-content .mat-card #dialogdataTags p img:last-child{
        margin-bottom:0;
    } */


    