<mat-card class="topbannerblock">
<app-header></app-header>
    <mat-card-content class="maincontainer bannertextwrapper">
        <h1>Universal <strong>Tech</strong> Associates</h1>
        <p> <span class="subtitle1">is a consortium of high-power global partnerships working with emerging technologies in the current global marketplace. </span>
            <span class="subtitle2">The opportunities we represent are the with the largest corporations, marketing
agencies and global investment groups in the world. Including our direct relationship with Wirthlin Worldwide. </span>
        </p>
    </mat-card-content>
</mat-card>
<mat-card class="block2">
 <mat-card-content class="maincontainer">
     <mat-card-title class="toptitle1">Who we represent and partner with <span><img src="../../assets/images/titlelogo1.png" alt="#"> </span></mat-card-title>

    <mat-list class="block2listwrapper">
        <mat-list-item class="listitemblue">
            <mat-card-content>
                <span class="listimgwrapper"><img src="../../assets/images/list1.png"> </span>
                <span class="listtextwrapper">Big DATA opportunities for companies that hold are and are looking to access data worldwide on a global scale.</span>
            </mat-card-content>
        </mat-list-item>
        <mat-list-item class="listitemgray">
            <mat-card-content>
                <span class="listtextwrapper">New emerging technology companies that are scalable for global market development.</span>
                <span class="listimgwrapper"><img src="../../assets/images/list2.png"> </span>
            </mat-card-content>
        </mat-list-item>
        <mat-list-item class="listitemgray">
            <mat-card-content>
                <span class="listimgwrapper"><img src="../../assets/images/list3.png"> </span>
                <span class="listtextwrapper">Marketing agencies and technologies with business models that can be incorporated into large scale global initiatives.</span>
            </mat-card-content>
        </mat-list-item>
        <mat-list-item class="listitemblue">
            <mat-card-content>
                <span class="listtextwrapper">Agencies in Asia and other sectors outside of the United States looking to take their model into the United States and North America.</span>
                <span class="listimgwrapper"><img src="../../assets/images/list4.png"> </span>
            </mat-card-content>
        </mat-list-item>
        <span class="deborder"></span>
    </mat-list>
 </mat-card-content>
</mat-card>

<mat-card class="block3">
    <mat-card-content class="maincontainer">
        <mat-card-title class="toptitle2">Universal Tech Associates</mat-card-title>
        <span class="textwrapper">initiatives are built in partnership directly with WirthlinWorldwide with access to 1st world and other governments, billion-dollar corporations and over 30 years of developed relationships. Please click here to learn more
about this relationship and how it relates to your engagement with us.</span>
        <mat-card-actions>
            <a [routerLink]="['/aboutus']" class="greenbtn"> Learn more about the Universal Tech Associates and WirthlinWorldwide relationship</a>
        </mat-card-actions>
    </mat-card-content>
</mat-card>

<mat-card class="block4">
    <mat-card-content class="maincontainer">
        <mat-card-title class="toptitle1">Our strategic bundling of technologies to meet the demands of our global partnerships.<span><img src="../../assets/images/titlelogo2.png" alt="#"> </span></mat-card-title>
        <mat-list class="block4listwrapper">
            <mat-list-item class="listitemblock listitemblock1">
                <span class="poimgwrapper">
                    <img src="../../assets/images/list5.png">
                </span>
                <mat-card-content>
                    <span class="listtextwrapper"><strong>The US Based</strong> <strong>AS WELL AS GLOBAL</strong> strategy of Universal Tech Associates involves an integration of independent technologies and methodologies bundled with the needs of corporations, government and billion-dollar agencies worldwide. Especially those that are specific to the Japanese marketplace.</span>
                </mat-card-content>

            </mat-list-item>

            <mat-list-item class="listitemblock listitemblock2">
                <mat-card-content>
                    <span class="listtextwrapper"><strong>Using <br> this approach,</strong> The technology and marketing agency partners we represent have the possibility of bundling with non-competing but highly complementary technologies in a blended platform. <br><br>
Each technology, we introduce into an ecosystem, must be capable of successful performance in Asia WWW a particular emphasis in Japan and other markets on a standalone Asia. However, when bundled together the disparate technologies we introduce work together as a powerful new suite of solutions that our global partnerships are seeking.</span>
                    <mat-card-actions>
                        <button class="greenbtn" [routerLink]="['/representation']"  >Think you fit the bill? Learn more about partnering with us here</button>
                    </mat-card-actions>
                </mat-card-content>
            </mat-list-item>

        </mat-list>
    </mat-card-content>
</mat-card>

<mat-card class="block5">
    <mat-card-content class="maincontainer">
        <span class="textwrapper textwrappernew">
            <strong>Our current portfolio of tech and marketing companies</strong>
        </span>
        <span class="textwrapper">
            Please have a review of our current global technology and marketing projects we are currently representing in the global marketplace. These companies and technologies are filling the current landscape of the potential relationships being developed.
            <strong>WE ARE LOOKING TO EXPAND</strong>
            and invite you to see if you qualify.
        </span>
        <mat-card-actions>
            <button class="greenbtn" [routerLink]="['/portfolio']" >Learn more</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>
<app-footer></app-footer>




