<mat-card class="topbannerblock uta_blok1">
  <app-header></app-header>
  <mat-card-content class="maincontainer bannertextwrapper">
    <h1>Universal <strong>Tech</strong></h1>
    <h2 class="break_header"> <span class="smaller_text">Technology and Platforms to the Global Marketplace</span></h2>
  </mat-card-content>
</mat-card>



<mat-card class="representation_body">
  <mat-card-content class="representation_body_wrapper">

    <h2>Are you ready for massive global success?</h2>
    <h3>Do you own a technology company that would benefit from a global audience? We can introduce, negotiate and structure deals for <br>your company with the largest global partnerships in the world.
    </h3>

    <mat-card-content class="representation_body_textcon">

      <img src="../../assets/images/representation_img1.png" alt="#">

      <p>Not all companies will qualify as there are many requirements in scalability, use case MVP proof and overall business design that must be analyzed and reviewed.   Engagement with Universal Tech Associates requires a monthly retainer which ranges from 20k a month with a minimum 3 month engagement up to 50k depending on engagement.


        <span>We can share with you proof and whitepapers based on our success to developing global markets for our partners through <strong>WirthlinWorldwide</strong> upon request.</span>


        <a href="../../assets/UniversalTechAssociatesPowerPoint%20Representation%20%20PPT.pdf" target="_blank" class="representation_link1">Please click here to download our representation deck.</a>

      </p>

    </mat-card-content>

    <h4>  <a [routerLink]="['/contactus']" style="color: #2f2f2f; text-decoration: none;"> Please contact us right away to schedule a discovery with your company to see if working together is going to make sense for you.</a>
    </h4>



  </mat-card-content>


</mat-card>


<mat-card class="representation_body2">

  <h2>Testimonial from the Beto Paredes Family of Companies</h2>

  <mat-card-content class="representation_body2_wrapper">

    <div class="videoWrapper">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/UN-1GdoL25w?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>


  </mat-card-content>

</mat-card>

<app-footer></app-footer>